[class^='icon--'] {
  display: block;
  background-size: cover;
}

.icon--hamburger {
  width: 30px;
  height: 30px;
  background-image: url('@/assets/icons/menu.svg');
}

.icon--close {
  width: 30px;
  height: 30px;
  background-image: url('@/assets/icons/close.svg');
}

.icon--close-gray {
  width: 30px;
  height: 30px;
  background-image: url('@/assets/icons/close-gray.svg');
}

.icon--globe {
  width: 24px;
  height: 24px;
  background-image: url('@/assets/icons/globe.svg');
}

.icon--caret-down {
  width: 20px;
  height: 20px;
  background-image: url('@/assets/icons/caret-down.svg');
}
