$width-sm: 576px;
$width-md: 768px;
$width-lg: 992px;
$width-xl: 1200px;
$width-xxl: 1400px;

$color-black: #000;
$color-white: #fff;
$color-primary: #e76f51;
$color-header: rgba(0, 0, 0, 0.65);
$color-header-scrolled: rgba(0, 0, 0, 0.85);

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$body-font-family: 'Unbounded', sans-serif;

$menu-font-size: 12px;

$header-height: 80px;
$header-height-mobile: 70px;

$container-width-sm: 540px;
$container-width-md: 720px;
$container-width-lg: 960px;
$container-width-xl: 1140px;
$container-width-xxl: 1320px;
